$base: #fafaff;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #00cbdb;
$primary-dark: #009aa9;
$primary-light: #65ffff;
$on-primary: #e1fff1;

$secondary: #ffff8c;
$secondary-light: #ffffbe;
$secondary-dark: #cacc5c;
$on-secondary: #000000;

$error: #B00020;
$on-error: #ffffff;

$success: #78E6E6;
$on-success: #ffffff;