<h2>Base</h2>
<h1>Titulos h1</h1>
<h2>Titulos h2</h2>
<h3>Titulos h3</h3>
<h4>Titulos h4</h4>
<h5>Titulos h5</h5>
<h6>Titulos h6</h6>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit vel elit ut dictum. Duis sollicitudin ut mi vitae accumsan. Aliquam molestie metus ut interdum accumsan. Aenean bibendum tortor vel ex tempor, a vestibulum lectus vulputate. Donec aliquet purus eu massa eleifend porta. Proin sollicitudin et magna non mollis. Vestibulum vulputate tellus nec leo egestas eleifend. Maecenas libero nulla, fermentum id sagittis sed, lacinia ut mauris.</p>

<h3>Links</h3>
<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>

<h3>Buttons</h3>
<button mat-button class="app-button">Botón</button>

<h3>Code</h3>
<code>Const parameter=100</code>

<h3>Input</h3>
<input type="text" class="app-input"/>

<h3>Mixins</h3>

<h2>Shadow</h2>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card Mixin</div>
